

#q1{
    display: none;
}
#q2{
    display: none;
}
#q3{
    display: none;
}
#q4{
    display: none;
}
#q5{
    display: none;
}
#q6{
    display: none;
}
#res{
    display: none;
}
